{
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "^ink",
    "^giggles$",
    "^giggles/(.*)$",
    "^@/(.*)$",
    "^[./]",
    "^prism$",
    "^prism/(.*)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
